@import "tailwindcss";

@theme {
  --color-neon-blue: #00f3ff;
  --color-neon-purple: #bc13fe;
  --color-bg-dark: #0a0a0f;
  --shadow-clay: inset 4px 4px 8px rgba(255, 255, 255, 0.05), inset -4px -4px 8px rgba(0, 0, 0, 0.5), 8px 8px 16px rgba(0,0,0,0.6);
}

body {
  background-color: var(--color-bg-dark);
  color: white;
}